{% extends 'employees/base.html' %}

{% block title %}

{% endblock %}

{% block body %}

    {% if equipment.id %}
        <h3>Редактировать оборудование</h3>
    {% else %}
        <h3>Создать оборудование</h3>
    {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

      <a class="btn btn-secondary"
              href="{% url 'orders:eq' %}">
          Назад к списку
      </a>
      <button class="btn btn-success" type="submit">
          {% if equipment.id %}
              Редактировать
          {% else %}
              Создать
          {% endif %}
      </button>

  </form>

{% endblock %}