{% extends 'employees/base.html' %}

{% block title %}
    Создать сотрудника
{% endblock %}

{% block body %}
    {% if employee.id %}
        <h3>Редактировать сотрудника</h3>
    {% else %}
        <h3>Создать сотрудника</h3>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <a class="btn btn-secondary"
           href="{% url 'employees:index' %}">
            Назад к списку
        </a>


        {% if employee.id %}
            <button class="btn btn-success" type="submit">
                Редактировать
            </button>
        {% else %}
            <button class="btn btn-success" type="submit">
                Создать
            </button>
        {% endif %}
    </form>

{% endblock %}